app/ddn_info
app/src/dump
*__*
app/utility/app
app/utility/certificates
app/utility/checkpoints
app/utility/cs
app/utility/gdrive_pdfs
app/utility/helper_functions/certificates
app/utility/home
app/utility/huggingface
app/utility/input
app/utility/ngc
app/utility/sample
app/utility/temp_files
app/utility/tmp
app/utility/vllm
app/utility/volumes
app/utility/.env
app/utility/.gitignore
app/utility/boto-indexing_thread.py
app/utility/drive_config.json
app/utility/gcp-vm-key.json
app/utility/infinia_bucket_access.py
app/utility/minio_main.py
app/utility/temp.py
app/utility/upload_minio.py
app/utility/vertex-ai.json

app/.env
computer_science/*
data/*
gbs_files/*
volumes/*
.env
*.csv